.mainContainer {
  background-color: var(--backgroundBeige);
  display: flex;
  min-height: 890px;

  .loading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .rightSide {
    flex: 1 0 75%;
    padding: 4rem 2rem;
    .upperBtn {
      display: flex;
      justify-content: space-between;
    }
    .projects {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .cardInfo {
        display: flex;
        justify-content: space-between;

        .cardTitle,
        .statusInfo {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          color: var(--primaryColor);
        }
        .status,
        .review {
          display: flex;
          gap: 0.7rem;
          color: var(--primaryColor);
          flex: 1;
          align-items: center;
        }
        .review {
          color: var(--secondaryColor);
          cursor: pointer;
        }
      }
      .btnCards {
        padding-top: 1rem;
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  .sideBar {
    background: white;
    border-top: 2px solid var(--greyColor);
    border-bottom: 2px solid var(--greyColor);
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 250px;
    flex: 1 0 25%;
    padding: 1rem;
    .dashTitle {
      padding-top: 1rem;
      color: var(--primaryColor);
      font-weight: 500;
    }
    .btns {
      width: 100%;
      padding-top: 2rem;
      .btnInfo {
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-radius: 20px;
        margin-bottom: 1rem;
      }
      .infoNotSelected {
        margin-bottom: 1rem;
      }
    }
  }
}


/* Chatroom.css */
.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 1rem !important;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #ccc #f5f5f5; /* For Firefox */
}

.chatMessages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 16px;
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: thin; /* For WebKit browsers (Chrome, Safari) */
  background-color: transparent;
  box-shadow: var(--box-shadow) !important;
}

.chatMessages::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

.chatMessages::-webkit-scrollbar-track {
  background: #f5f5f5; /* Track color */
}

.chatMessages::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Thumb color */
  border-radius: 10px; /* Rounded thumb */
}

.message {
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.5rem 2rem;
  border-radius: 10px;
  &:first-child {
    margin-top: 2rem;
  }
}
.userMessage {
  background-color: #dcf8c6; /* Background color for user messages */
  float: right;
  position: relative;
  clear: both;
}

.consultantMessage {
  background-color: #e6e6e6; /* Background color for consultant messages */
  float: left;
  position: relative;
  clear: both;
}

/* Style for user name */
.userName {
  font-weight: bold;
  margin-right: 5px; /* Add a small margin to separate from the date */
}

.messageInput {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}
