.mainContainer {
  .loading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .projectBanner {
    position: relative;
    padding: 2rem;

    img {
      border-radius: 8px;
      height: 100px;
      width: 100%;
      object-fit: cover;
    }

    .bannerTitle {
      position: absolute;
      left: 4rem;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      font-size: var(--primaryFontSize);
      font-weight: bold;
    }
  }

  .projectContainer {
    padding: 0rem 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    .content {
      width: 100%;
      gap: 2rem;
      display: flex;
      flex-direction: column;
      flex: 3 0 60%;

      .error {
        min-height: 250px;
      }

      .EmptyListSection {
        flex-wrap: wrap;
        padding: 2rem 0;
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        align-items: center;
        .info {
          max-width: 550px;
          div {
            text-align: left;
          }
        }
        img {
          max-width: 100%;
          height: auto; // Maintain aspect ratio
        }
      }
    }
  }
}

@media (max-width: 1215px) {
  .EmptyListSection {
    .info {
      div {
        text-align: center !important;
      }
    }
  }
}

@media (max-width: 600px) {
  .EmptyListSection {
    .info {
      max-width: 100% !important;
    }
  }
}
