.footer {
  display: flex;
  justify-content: center;
  .footerSection {
    padding: 4rem;
    padding-bottom: 0;
    color: var(--primaryColor);
    max-width: 1920px;
    width: 100%;
    .footerLinks {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
          color: var(--primaryColor) !important;
          &:hover {
            text-decoration: underline;
          }
        }

        div {
          &:first-child {
            font-weight: 600;
            padding-bottom: 0.2rem;
          }
        }
      }
    }
    hr {
      max-width: 55%;
      margin: 2rem auto 0;
      opacity: 0.3;
    }
    .copyRight {
      display: flex;
      justify-content: center;
      padding: 1rem 0 1rem;
      font-size: 0.87rem;
    }
  }
}
.social {
  flex-direction: row !important;
  justify-content: center;

  a {
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .footer {
    flex-direction: column !important;

    .logo {
      align-items: center;
    }

    .footerSection {
      text-align: center;
      .footerLinks {
        gap: 2rem;
        padding: 0 3rem;
      }
    }
  }
}
