* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // font-family: "Montserrat", sans-serif !important;
}
a {
  text-decoration: none;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

// stepper css
.MuiStepConnector-root {
  margin-left: 23px !important;
}

//radio

.MuiRadio-root.Mui-checked {
  color: var(--blueColor);
}
.MuiRadio-root:hover {
  background-color: rgba(230, 172, 86, 0.04);
}
.MuiTypography-root {
  color: var(--primaryColor);
}

// table
.inputTable {
  outline: 0;
  border: 0 !important;
  color: var(--primaryColor);
  &::before,
  &::after {
    border-bottom: 0 !important;
  }
}

.MuiTableContainer-root {
  box-shadow: var(--shadowInputs);
}
.MuiTableCell-root {
  color: var(--primaryColor);
}

//errors Input
.radioError .MuiFormControlLabel-label {
  color: rgb(231, 76, 60) !important;
}
.errorInput {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2) !important;
}
.errorInputTable {
  border-bottom: 2px solid rgba(255, 0, 0, 0.2);
}
//chatrrom
.chatMsg {
  fieldset {
    border: 0;
    outline: none;
  }
}

// inputs
.textInput {
  outline: 0;
  padding: 0.5rem 0.7rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  color: var(--primaryColor);
  font-weight: 400;
  border-color: transparent;
  background-color: var(--rmedeColor);
  text-align: left;
  &::before,
  &::after {
    border-bottom: 0 !important;
  }
}
.selectInput {
  padding: 0 !important;

  fieldset {
    border: 0 !important;
  }
}
.adminWidthSelector {
  .MuiSelect-select {
    max-width: 150px;
  }
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  section {
    max-width: 1920px;
    width: 100%;

    .subTitle {
      color: black;
      font-weight: 600;
      font-size: var(--primaryFontSize);
      padding-bottom: 1.2rem;
    }
    .title {
      font-weight: normal;
      text-align: center;
      color: var(--primaryColor);
      text-transform: uppercase;
      margin-bottom: 1.2rem;
      border: 1px solid var(--primaryColor);
      border-radius: 1rem;
      padding: 0.3rem 1.7rem;
      font-size: 0.875rem;
    }
    .description {
      color: var(--primaryColor);
      padding-bottom: 2rem;
      line-height: 1.3rem;
      max-width: 750px;
      text-align: center;
    }
  }
}
.slick-prev:before,
.slick-next:before {
  color: var(--blueColor) !important;
  font-size: 22px !important;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  text-align: center;
}

:root {
  --primaryColor: #5a627c;
  --secondaryColor: #f1a31b;
  --blueColor: #028b9c;
  --blueNavy: #2f3a5e;
  --lightblue: #f7f9ff;
  --lightblueOpac: rgba(247, 249, 255, 0.7);
  --greyColor: #7e7e7e;
  --marginLayout: 6rem;
  --primaryFontSize: 2.3rem;
  --brownColor: #69514e;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  --secondaryFontSize: 1.125rem;
  --backgroundBeige: #fdf7ee;
  --rmedeColor: #f3f6ff;
  --shadowInputs: 0px 5px 10px rgba(0, 0, 0, 0.04);
}
.badgeAvatar {
  .MuiBadge-badge {
    top: 4px;
    right: 6px;
  }
}

.MuiBadge-badge {
  background-color: var(--secondaryColor);
  top: 0;
  right: 0;
}

//cards
.card {
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  background: white;
  padding: 2rem;
}

//buttons
.links {
  white-space: nowrap;
  color: var(--primaryColor) !important;
  font-weight: 600;
  text-transform: capitalize;
  &:hover{
    background-color: rgba(0, 0, 0, 0.04);
  }
}
.transitionLink {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--blueColor);
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.45s ease-out;
    transform-origin: bottom right;
  }
}

.transitionLink:hover::after {
  transform: scaleX(0.99);
  transform-origin: bottom left;
}

.no-hover-background {
  &:hover {
    background-color: white;
  }
}

// colors for statuses

.rose {
  border-radius: 1000px;
  padding: 0.4rem 0.8rem;
  background-color: #fbdef0;
  color: #ea48aa;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.lightBlue {
  border-radius: 1000px;
  padding: 0.4rem 0.8rem;
  background-color: #E0F2FE;
  color: #0369A1;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.grey {
  border-radius: 1000px;
  padding: 0.4rem 0.8rem;
  background-color: #F5F7FB;
  color: #6C7C8C;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.blue {
  border-radius: 1000px;
  padding: 0.4rem 0.8rem;
  background-color: #e1edf9;
  color: #1679cc;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.yellow {
  border-radius: 1000px;
  padding: 0.4rem 0.8rem;
  background-color: #FFF3CD;
  color: #856404;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.orange {
  border-radius: 1000px;
  padding: 0.4rem 0.8rem;
  background-color: #fff8ee;
  color: #e5ad56;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.salmon {
  border-radius: 1000px;
  padding: 0.4rem 0.8rem;
  background-color: #ffe8d6;
  color: #e78227;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.green {
  border-radius: 1000px;
  padding: 0.4rem 0.8rem;
  background-color: #D1FAE5;
  color: #10B981;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.btn {
  color: white;
  white-space: nowrap;
  text-transform: capitalize;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primaryColor);

  &:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--primaryColor);
  }
}
.btn-lightBlue {
  background-color: #cffaff;
  color: #028b9d;
  font-weight: bold;

  &:hover {
    box-shadow: var(--box-shadow);
    background-color: #cffaff;
  }
}

.btn-whitish {
  background-color: white;
  color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor);
  &:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--secondaryColor);
    color: white;
  }
}

.btn-secondary {
  background-color: var(--secondaryColor);

  &:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--secondaryColor);
  }
}
.btn-third {
  background-color: var(--blueColor);

  &:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--blueColor);
  }
}
.btn-white {
  background-color: white;
  color: var(--secondaryColor);
  box-shadow: var(--box-shadow);

  &:hover {
    background-color: var(--rmedeColor);
  }
}
.btn-blue {
  background-color: var(--primaryColor);
  color: white;

  &:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--primaryColor);
  }
}

@media (max-width: 1200px) {
  .main {
    --marginLayout: 4rem !important;
  }
}

@media (max-width: 1000px) {
  .main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .btn {
    padding: 8px 16px;
    font-size: 0.8rem !important;
  }
  .main {
    --marginLayout: 2rem !important;
    --primaryFontSize: 1.5rem;
  }
}
