* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}
a {
  text-decoration: none;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

// stepper css
.MuiStepper-root,
.MuiStepIcon-root.Mui-active,
.MuiStepIcon-root.Mui-completed {
  overflow-x: auto;
  color: var(--secondaryColor);
}
.MuiStepLabel-label.Mui-disabled.MuiStepLabel-alternativeLabel,
.MuiStepLabel-label.Mui-active {
  color: var(--primaryColor);
}
.MuiStepLabel-label.Mui-active {
  font-weight: 600;
  color: black;
}
.MuiRadio-root.Mui-checked {
  color: var(--secondaryColor);
}

//radio
.MuiRadio-root:hover {
  background-color: rgba(230, 172, 86, 0.04);
}
.MuiTypography-root {
  color: var(--primaryColor);
}

// table

.inputTable {
  outline: 0;
  border: 0 !important;
  color: var(--primaryColor);
  &::before,
  &::after {
    border-bottom: 0 !important;
  }
}

.MuiTableContainer-root{
  box-shadow: var(--box-shadow);
}
.MuiTableCell-root {
  color: var(--primaryColor);
}

//errors Input

.radioError .MuiFormControlLabel-label {
  color: rgb(231, 76, 60) !important;
}
.errorInput {
  background-color: rgba(231, 76, 60, 0.08);
}

// inputs
.textInput {
  outline: 0;
  padding: 0.5rem 0.7rem;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  border-color: transparent;
  &::before,
  &::after {
    border-bottom: 0 !important;
  }
}
.selectInput {
  padding: 0 !important;

  fieldset {
    border: 0 !important;
  }
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  section {
    max-width: 1920px;
    width: 100%;

    .subTitle {
      color: var(--primaryColor);
      font-weight: 600;
      line-height: normal;
      font-size: var(--primaryFontSize);
      padding-bottom: 0.5rem;
    }
    .title {
      color: var(--secondaryColor);
      font-weight: 600;
      font-size: var(--secondaryFontSize);
      text-transform: uppercase;
      padding-bottom: 0.5rem;
    }
    .description {
      color: var(--primaryColor);
      padding-bottom: 0.5rem;
      line-height: 1.4rem;
    }
  }
}
.slick-prev:before,
.slick-next:before {
  color: var(--secondaryColor) !important;
  font-size: 30px !important;
}
.slick-dots {
  bottom: 0 !important;
}
.slick-dots li.slick-active button:before {
  color: var(--secondaryColor) !important;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  text-align: center;
}

:root {
  --primaryColor: #4c4f51;
  --secondaryColor: #e6ac56;
  --greyColor: #f8f8f8;
  --marginLayout: 8rem;
  --primaryFontSize: 2.3rem;
  --brownColor: #69514e;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  --secondaryFontSize: 1.125rem;
  --backgroundBeige: #fdf7ee;
}

//cards
.card {
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  background: white;
  padding: 2rem;
}

//buttons
.links {
  white-space: nowrap;
  color: var(--primaryColor) !important;
  font-weight: 600;
  text-transform: capitalize;
  &:hover {
    background: rgba(211, 211, 211, 0.2);
  }
}
.transitionLink {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--secondaryColor);
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.45s ease-out;
    transform-origin: bottom right;
  }
}

.transitionLink:hover::after {
  transform: scaleX(0.99);
  transform-origin: bottom left;
}

.no-hover-background {
  &:hover {
    background-color: white;
  }
}

.btn {
  padding: 7px 16px 9px;
  border-radius: 1000px;
  color: white;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--primaryColor);

  &:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--primaryColor);
  }
}
.btn-secondary {
  background-color: var(--secondaryColor);

  &:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--secondaryColor);
  }
}
.btn-white {
  background-color: white;
  color: var(--primaryColor);

  &:hover {
    box-shadow: var(--box-shadow);
    background-color: transparent;
  }
}

@media (max-width: 1200px) {
  .main {
    --marginLayout: 4rem !important;
  }
}

@media (max-width: 1000px) {
  .main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .slick-prev:before,
  .slick-next:before {
    display: none !important;
  }
  .btn {
    padding: 8px 16px;
    font-size: 0.8rem !important;
  }
  .main {
    --marginLayout: 2rem !important;
    --primaryFontSize: 1.5rem;
    --secondaryFontSize: 1rem;
  }
}
