.headerNav {
  background-color: white;
  padding: 0 var(--marginLayout);
  .headerLinks {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 1rem;
  }

  .logoContainer {
    flex: 1;
  }

  .avatar {
    color: unset;
    background-color: var(--backgroundBeige);
  }
  .avatarInitials {
    color: var(--blueColor);
    font-weight: bold;
    font-size: 1rem;
    background-color: #b6dde2;
  }

  .btnInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    flex: 1;
  }
  .menuIcon {
    display: none;
  }
  .navLinkActive {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: var(--blueColor);
      width: 100%;
      transform: scaleX(0.99);
    }
  }
}
.drawerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.marginB {
  margin: 1rem 0;
}
@media (max-width: 1200px) {
  .headerNav {
    padding: 0 calc(8rem - 100px) !important;
  }
}

@media (max-width: 950px) {
  .headerLinks {
    display: none !important;
  }
  .menuIcon {
    display: block !important;
    margin-right: 2rem;
  }
  .btnInfo {
    flex: 1;
    justify-content: flex-end !important;
  }
}

@media (max-width: 600px) {
  .contact {
    display: none !important;
  }

}
@media (max-width: 330px) {
  .btnInfo {
    display: none !important;
  }
}
