.backgroundImg {
  padding-top: 72px;
  .image {
    display: flex;
    max-height: 750px;
    position: relative;

    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      object-position: top;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
    }
  }
  .info {
    position: absolute;
    top: 34%;
    left: 11%;

    .description {
      max-width: 560px;
      font-weight: 500 !important;
      font-size: 1.2rem;
      color: var(--primaryColor);
    }
  }
}

.mainContainer {
  margin: var(--marginLayout);

  // about us
  .aboutUsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    .consultDesc {
      max-width: 700px;
    }
    .aboutInfo,
    .aboutImg {
      flex: 1 1 408px;
    }
    .aboutPoints {
      display: flex;

      .aboutMini {
        flex: 1;
        display: flex;
        flex-direction: column;
        div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding-bottom: 0.5rem;
          font-weight: 600;
          color: var(--primaryColor);
        }
      }
    }
  }

  // our services
  .servicesContainer {
    padding: var(--marginLayout) 0;
    .serviceInfo {
      text-align: center;
    }
    .servDesc {
      display: flex;
      justify-content: center;
      div {
        max-width: 700px;
      }
    }
    .cardsContainer {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background-color: var(--greyColor);
        height: 1500px;
        inset: 0;
        z-index: -1;
        top: 49%;
        margin: 0 calc(0rem - var(--marginLayout));
      }
      display: flex;
      gap: 2rem;
      justify-content: center;
      flex-wrap: wrap;
      div {
        max-width: 450px;
        .cardTitle {
          color: var(--primaryColor);
          font-weight: 600;
          position: relative;
          padding-bottom: 0.5rem;
          &::after {
            content: "";
            border-bottom: 2px solid var(--secondaryColor);
            bottom: 0;
            left: 0;
            width: 55px;
            position: absolute;
          }
        }
        .cardText {
          color: var(--primaryColor);
          padding-top: 0.5rem;
        }
        .cardBtn {
          button {
            color: var(--secondaryColor) !important;
            text-transform: capitalize !important;
            padding-left: 0 !important;
          }
        }
        .cardArrow {
          padding-left: 0.3rem;
        }
      }
    }
  }

  // why us
  .whyUsContainer {
    padding-bottom: var(--marginLayout);

    .whyDesc {
      display: flex;
      justify-content: center;
      div {
        max-width: 700px;
      }
    }
    .whyUsInfo {
      text-align: center;
    }
    .coloredCardsContainer {
      display: flex;
      gap: 2rem;
      justify-content: center;
      flex-wrap: wrap;
      .colored {
        background-image: url("../../public/imgs/about.png");
        background-position: 50%;
        background-size: cover;
        color: white;
        font-weight: 600;
        min-height: 250px;
        max-width: 400px;
        .cardTitle {
          font-size: 1.2rem;
          position: relative;
          padding-bottom: 0.5rem;
          &::after {
            content: "";
            border-bottom: 2px solid var(--secondaryColor);
            bottom: 0;
            left: 0;
            width: 55px;
            position: absolute;
          }
        }
        .cardDesc {
          padding-top: 0.5rem;
          font-size: 1rem !important;
        }
      }
    }
  }

  // how it works
  .howItWorksContainer {
    background-color: var(--primaryColor);
    margin: 0 calc(0rem - var(--marginLayout));
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 4rem var(--marginLayout);

    .title {
      font-size: var(--primaryFontSize);
      color: white;
      font-weight: 600;
    }
    .desc {
      color: white;
      padding-bottom: 1rem;
      padding-top: 0.5rem;
      max-width: 600px;
    }
    .btnSec {
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .unActive {
        button {
          background: transparent !important;
          border: 1px solid white !important;
          transition: all 0.35s ease-in;
        }
      }
    }

    .phases {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      text-align: center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid white;
        inset: 10px;
      }
      div {
        flex: 1;
        font-size: calc(1rem + var(--primaryFontSize));
        color: var(--secondaryColor);
        font-weight: 600;
        position: relative;
        &::after {
          content: attr(data-text);
          position: absolute;
          inset: 70px 0;
          color: white;
          font-size: 1rem;
        }
      }
    }
  }

  // testompnials
  .testimonialSection {
    padding: var(--marginLayout) 0;
    .testimonialInfo {
      text-align: center;
      padding-bottom: 2rem;
    }

    .profileSection {
      .profile {
        position: relative;
        max-width: 550px;
        margin: 4rem 0;
        flex-direction: column;
        &::after {
          content: "";

          background-position: 50%;
          background-size: cover;
          position: absolute;
          border-radius: 50%;
          max-height: 100px;
          width: 100px;
          height: 100px;
          box-shadow: var(--box-shadow);
          max-width: 100px;
          inset: 0;
          margin: -50px auto;
        }
        background-color: var(--greyColor);
        text-align: center;
        color: var(--primaryColor);

        .info {
          display: flex;
          flex-direction: column;
          height: 260px;
          .text {
            font-style: italic;
            padding: 3rem 0.5rem 1rem;
            flex: 1;
          }
          .name {
            font-weight: bold;
          }
          .job {
            font-size: 0.8rem;
            font-weight: bold;
          }
        }
      }
      .profile1 {
        &::after {
          background-image: url("../../public/imgs/about.png");
        }
      }
      .profile2 {
        &::after {
          background-image: url("../../public/imgs/landing-background.jpg");
        }
      }
      .profile3 {
        &::after {
          background-image: url("../../public/imgs/about.png");
        }
      }
      .profile4 {
        &::after {
          background-image: url("../../public/imgs/about.png");
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .backgroundImg {
    .info {
      top: 34% !important;
      left: 2% !important;
      .description {
        max-width: 450px !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .profileSection {
    .profile {
      max-width: 270px !important;
      padding: 2rem 1rem !important;
      .info {
        height: 380px !important;
      }
    }
  }
  .phases {
    div {
      &::after {
        font-size: 0.8rem !important;
      }
    }
  }
  .btnSec {
    justify-content: center;
  }
  .cardTitle::after {
    inset: 0 !important;
    margin: auto !important;
  }

  .cardsContainer::after {
    height: 2680px !important;
  }
  .consultDesc {
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .descriptionNoWidth {
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--marginLayout);
    div {
      color: var(--primaryColor) !important;
    }
  }
  .aboutPoints {
    justify-content: space-around;
    .aboutMini {
      text-align: left;
      flex: unset !important;
    }
  }
}
@media (max-width: 600px) {
  .backgroundImg {
    .image {
      img {
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
      }
    }
  }
  .phases {
    div {
      &::after {
        inset: 50px 0 !important;
      }
    }
  }
  .aboutImg {
    img {
      max-width: 200px;
      height: auto;
    }
  }
}
