.backgroundImg {
  position: relative;

  .image {
    position: relative;
    width: 100%;
    height: 508px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-position: bottom;
      object-fit: cover;
    }
  }

  .info {
    position: absolute;
    transform: translate(-50%);
    top: 20%;
    left: 50%;
    text-align: center;
    max-width: 700px;
    width: 70%;

    .description {
      color: white;
      line-height: 1.3rem;
    }
  }

  .cardContainer {
    position: absolute;
    top: 348px;
    flex-wrap: wrap;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    justify-content: center;

    .bestFor {
      padding: 0.8rem;
      color: var(--primaryColor);
      display: flex;
      margin: 0.5rem 1.5rem 0;
      background-color: rgba(2, 139, 156, 0.025);
      border-radius: 6px;
      gap: 0.2rem;
      min-height: 130px;
      flex-direction: column;
      text-align: center;
      align-items: center;

      img {
        margin-bottom: 0.5rem;
      }
    }

    .card {
      background: white;
      box-shadow: var(--box-shadow);
      width: 300px;
      border-radius: 6px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .cardBackg {
      border-radius: 6px;
      margin: 8px;
      height: calc(560px - 348px - 60px);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .cardTitle {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 600;
      }

      .cardPricing {
        .startText {
          text-align: center;
          font-size: 0.8rem;
          font-weight: 400;
          opacity: 0.9;
        }

        font-weight: 600;
        font-size: 1.8rem;

        small {
          font-size: 1rem;
        }
      }

      .cardReadMore {
        text-decoration: underline;
        opacity: 0.9;
        color: white;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .cardBody {
      padding: 1.5rem 2rem;
      flex: 2;

      .cardPoint {
        color: var(--primaryColor);
        display: flex;
        gap: 0.5rem;
        padding-bottom: 1.2rem;

        .cardTick {
          padding-top: 0.15rem;
          display: flex;
        }
      }
      .cardPoint:last-child {
        padding-bottom: 0 !important;
      }
    }

    .cardBtn {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
      button {
        width: 84%;
      }
    }
  }

  .cardBlue {
    background-color: #028b9c;
  }

  .cardGreen {
    background-color: #0e525b;
  }

  .darkBlue {
    background-color: #11385c;
  }

  .darkBlack {
    background-color: #142935;
  }

  .bannerWrapper {
    margin-top: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    .bannerContainer {
      position: relative;
      width: calc(300px * 4 + 6rem);
      display: flex;

      .bannerImg {
        border-radius: 6px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .bannerContent {
        width: 100%;
        position: absolute;
        padding: 4rem 3rem;
        color: white;
        height: 100%;
        display: flex    ;
        flex-direction: column;
        justify-content: center;
        .bannerTitle {
          font-size: 1.5rem;
          font-weight: bold;
        }
        .bannerDesc {
          padding: 1rem 0 1.5rem;
        }
        .bannerPoints {
          display: flex;
          gap: 2rem;
          flex-wrap: wrap;
          .bannerPnt {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            div {
              display: flex;
              gap: 0.5rem;
            }
            .bannerTick {
              flex: 1 0 5%;
              align-self: center;
              display: flex;
            }
            .bannerInfo {
              flex: 1 0 95%;
            }
          }
        }
        .bannerBtn {
          padding-top: 2rem;
        }
      }
    }
  }
}

.mainContainer {
  margin: 4rem var(--marginLayout);
  margin-bottom: 0;

  .faqSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;

    .accordion {
      max-width: 750px;
    }
  }
}

@media (max-width: 1115px) {
  .cardBody {
    text-align: left !important;
  }
  .bannerTitle,
  .bannerDesc {
    text-align: center !important;
  }
  .bannerBtn {
    justify-content: center;
    display: flex;
  }
  .bannerPoints {
    justify-content: center;
  }
  .bannerContent {
    padding: 2rem !important;
  }

  .bannerWrapper {
    margin-top: calc(700px + 580px) !important;
  }
}

@media (max-width: 750px) {
  .bannerImg {
    height: 150% !important;
  }
  .mainContainer {
    margin-top: 12rem !important;
  }
}
@media (max-width: 600px) {
  .mainContainer {
    margin-top: 15rem !important;
  }
  .bannerImg {
    height: 200% !important;
  }
  .bannerPoints {
    gap: 1rem !important;
  }
}

@media (max-width: 541px) {
  .mainContainer {
    margin-top: 20rem !important;
  }
  .bannerImg {
    height: 250% !important;
  }
  .bannerWrapper {
    margin-top: calc(700px + 590px * 3) !important;
  }
}
@media (max-width: 390px) {
  .mainContainer {
    margin-top: 22rem !important;
  }
  .bannerImg {
    height: 350% !important;
  }
  .bannerPoints {
    justify-content: flex-start;
    margin: 0 1rem;
  }
}
@media (max-width: 320px) {
  .bannerImg {
    height: 380% !important;
  }
}
