.backgroundImg {
  .image {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    position: absolute;
    transform: translate(-50%, -10%);
    left: 50%;
    text-align: center;
    max-width: 700px;
    width: 70%;

    .description {
      color: white;
      line-height: 1.3rem;
    }
  }
}

.mainContainer {
  margin: 4rem var(--marginLayout) 0;

  .plansSection {
    .planTitle {
      display: flex;
      flex-direction: column;
      align-items: center;

      .planIcon {
        padding: 0.4rem 0.3rem 0.1rem 0.5rem;
        background-color: rgba(2, 139, 156, 0.1);
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
      }
      .planIdea {
        padding: 0.4rem 0.4rem 0.2rem 0.4rem !important;
      }
    }
    .planContentBusiness {
      flex-wrap: wrap-reverse !important;
    }

    .planContent {
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      justify-content: center;
      .desc {
        display: flex;
        flex-direction: column;
        .summary {
          font-size: 1.2rem;
          color: var(--blueColor);
          font-weight: bold;
          text-transform: uppercase;
          padding-bottom: 0.5rem;
        }
        .text {
          max-width: 500px;
          color: var(--primaryColor);
          line-height: 1.5rem;
        }
      }

      img {
        border-radius: 0.5rem;
      }
    }

    .successStorySection {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem 0;

      .smallTitle {
        color: var(--blueColor);
        padding-bottom: 1rem;
        font-size: 1.2rem;
        text-transform: uppercase;
      }
      h2 {
        max-width: 750px;
        text-align: center;
        color: black;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 1.2rem;
      }
    }
    .successStorySectionMarket {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .successStorySectionFinance {
      padding-top: 2rem;
      padding-bottom: 5rem;
    }

    .businessPlanSection {
      margin: 0 auto;
      .planCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        .planCard {
          position: relative;
          background-color: rgba(2, 139, 156, 0.025);
          border-radius: 0.5rem;
          width: 400px;
          padding: 3rem 1.5rem 1.5rem 1.5rem;
          text-align: center;
          margin-bottom: 4rem;

          .imageWrapper {
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 100px;
            border: 1px solid var(--secondaryColor);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
          }

          .cardTitle {
            margin-top: 2rem;
            font-weight: bold;
            color: var(--blueColor);
            text-transform: capitalize;
          }

          .cardDescription {
            margin-top: 1rem;
            color: var(--primaryColor);
            line-height: 1.35rem;
          }
        }
      }
    }
    .ideaGenSection {
      max-width: 1200px;
      margin: 0 auto;
      .planCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        .planCard {
          padding: 2rem;
          border: 1px solid #e1e1e1;
          width: 500px;
          display: flex;
          align-items: center;
          gap: 2rem;
          border-radius: 0.5rem;
          background-color: white;

          .planIcon {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border: 1px solid var(--secondaryColor);
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-top: 0.8rem;
          }
          .planCardContent {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .cardTitle {
              font-weight: bold;
              color: var(--blueColor);
              text-transform: capitalize;
            }
            .cardDescription {
              color: var(--primaryColor);
              line-height: 1.35rem;
            }
          }
        }
      }
    }
  }
  .planIdeaSection {
    background-color: rgba(2, 139, 156, 0.025) !important;
    margin: 0 calc(0rem - var(--marginLayout));
    padding: 4rem var(--marginLayout) 0;
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .financeIdea {
    margin-top: 4rem;
  }
}

@media (max-width: 600px) {
  .plansSection {
    img {
      max-width: 300px;
      height: auto;
    }
  }
  .ideaGenSection {
    .planCard {
      justify-content: center;
      flex-wrap: wrap;
      height: 100% !important;
      width: 100% !important;
    }
  }
  .backgroundImg {
    .image {
      height: 350px;
    }
  }
}
